    <%= nested_form_for(@rfqquote) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= content_tag(:div) do content_tag(:b,"RFQ: ") + @rfqquote.rfqform_id.to_s.rjust(4, '0') + "-" + @rfqquote.rfqquote_display_id.to_s.rjust(3, '0')  end %>
      <%= content_tag(:div) do content_tag(:b,"Date: ") + @rfqform.date.to_s  end %>

	<div class="container">
      <hr>
      <%= content_tag(:div, "A. All information and specifications relative to this quote are proprietary", class: 'indent_small') %>
	  <%= content_tag(:div, "B. Quote per piece price only according to the listed unit of measure", class: 'indent_small') %>
	  <%= content_tag(:div, "C. Parts should be quoted complete unless otherwise specified", class: 'indent_small') %>
	  <%= content_tag(:div, "D. List all tooling and NRE charges separately (if applicable)", class: 'indent_small') %>
	  <%= content_tag(:div, :class => 'indent_small') do content_tag(:b,"") + "E. Vendor certifies in agreement to " + content_tag(:i, "Terms and Conditions") + " and " + content_tag(:i, "Quality Expectations") end %>
	  <%= content_tag(:div, "F. TLX Technologies, LLC will not accept overruns or underruns", class: 'indent_small') %>
	  <hr>	  
	  
  
		<%= render 'rfqquotes/rfqquote_shared_fields' %>
		<div class="row">
			<div class="span11">
				<div class="span2"><b>Unit of Measure:</b></div>
				<%= content_tag(:div, class: 'span7') do @rfqpart.units  end %>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="span11">				
				<%= link_to "View Drawing", @rfqpart.drawing.url, class: "btn btn-small btn-primary" %>
			</div>
		</div>		
	</div> 
    <% end %>       