        <tr class="fields">
          <td><%= content_tag(:div) do (@rfqpart.qty * Eau.find(f.object.eau_id).value).to_s  end %></td>
          <td><%= f.text_field :parts_note, placeholder: "Note" %></td>
          
          <td>
            <% eng_ec = 'NoQuoteChanged(price_' + f.object.eau_id.to_s + ', tooling_' + f.object.eau_id.to_s + ', nre_' + f.object.eau_id.to_s + ' )' %>
            <% if f.object.no_quote? %>
              <%= f.text_field :unit_price, placeholder: "Unit Price", 
                id: "price_"+f.object.eau_id.to_s, :style => "visibility:hidden" %>
            <% else %>
              <%= f.text_field :unit_price, placeholder: "Unit Price", 
                id: "price_"+f.object.eau_id.to_s %>
            <% end %>
            
            <%= f.label :no_quote, "No Quote", :class => "checkbox inline" %>
            <%= f.check_box :no_quote, :onclick=>eng_ec %>
          </td>
                   

          <td>
            <% if f.object.no_quote? %>
              <%= f.text_field :tooling, placeholder: "Tooling", 
                id: "tooling_"+f.object.eau_id.to_s, :style => "visibility:hidden" %>
            <% else %>
              <%= f.text_field :tooling, placeholder: "Tooling", 
                id: "tooling_"+f.object.eau_id.to_s %>
            <% end %>
          </td>
          <td>
            <% if f.object.no_quote? %>
              <%= f.text_field :nre, placeholder: "NRE", 
                id: "nre_"+f.object.eau_id.to_s, :style => "visibility:hidden" %>
            <% else %>
              <%= f.text_field :nre, placeholder: "NRE", 
                id: "nre_"+f.object.eau_id.to_s %>
            <% end %>
          </td>                  
          <td><%= content_tag(:div) do f.object.feedback  end %></td>
        </tr>