		<div class="row">  
		  <div class="span6">
			  <row>
			  	<div class="span2"><b>Vendor:</b></div>  
			  	<%= content_tag(:div, class: 'span3') do @rfqquote.vendor.name  end %>	  	
			  </row>
			  <row>
			  	<div class="span2"></div>  
			  	<%= content_tag(:div, class: 'span3') do @rfqquote.vendor.vendor_addresses.primary.address1  end %>	  	
			  </row>

			  <% if !@rfqquote.vendor.vendor_addresses.primary.address2.blank? %>
			  <row>
			  	<div class="span2"></div>  
			  	<%= content_tag(:div, class: 'span3') do @rfqquote.vendor.vendor_addresses.primary.address2  end %>	  	
			  </row>
			  <% end %>			  

			  <row>
			  	<div class="span2"></div>  
			  	<%= content_tag(:div, class: 'span3') do @rfqquote.vendor.vendor_addresses.primary.city + ", " + @rfqquote.vendor.vendor_addresses.primary.state + " " + @rfqquote.vendor.vendor_addresses.primary.zip  end %>	  	
			  </row>
			  <row>
			  	<div class="span2"></div>  
			  	<%= content_tag(:div, class: 'span3') do @rfqquote.vendor.phone  end %>	  	
			  </row>	  	  	  
			   <row>
			  	<div class="span2"><b>RFQ Contact:</b></div>  
			  	<%= content_tag(:div, class: 'span3') do @rfq_contact.name  end %>
			  </row>
			  <row>
			  	<div class="span2"></div>  
			  	<%= content_tag(:div, class: 'span3') do @rfq_contact.email  end %>
			  </row>	
		  </div>
		  <div class="span6">
		  	  <row>
			  	<div class="span2"><b>Requisitioned by:</b></div>  
			  	<%= content_tag(:div, class: 'span3') do @rfqform.req_by_employee.name  end %>
			  </row>
		  	  <row>
			  	<div class="span2"></div>  
			  	<%= content_tag(:div, class: 'span3') do @rfqform.req_by_employee.email  end %>
			  </row>	  
		  	  <row>
			  	<div class="span2"><b>Engineer:</b></div>  
			  	<%= content_tag(:div, class: 'span3') do @rfqform.engineer_employee.name  end %>
			  </row>
		  	  <row>
			  	<div class="span2"></div>  
			  	<%= content_tag(:div, class: 'span3') do @rfqform.engineer_employee.email  end %>
			  </row>	
		  </div> 
		</div>    
	
		<hr>
		<div class="row">
			<div class="span6">
				<div class="span2"><b>Part Number:</b></div>
				<%= content_tag(:div, class: 'span1') do @part.name  end %>
				<div class="span1"><b>Revision:</b></div>
				<%= content_tag(:div, class: 'span1') do @rfqpart.revision  end %>
			</div>
			<div class="span6">
				<div class="span3"><b>Description:</b></div>
				<%= content_tag(:div, class: 'span2') do @part.description  end %>
			</div>
		</div>	
		<div class="row">
			<div class="span6">
				<div class="span2"><b>PO/Release type:</b></div>
				<%= content_tag(:div, class: 'span3') do @rfqform.release_type  end %>
			</div>
			<div class="span6">
				<div class="span3"><b>Expected Launch Date:</b></div>
				<%= content_tag(:div, class: 'span2') do @rfqform.launch_date.to_s  end %>	
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<div class="span4"><b>PPAP or other sample quality verification:</b></div>
			</div>
			<div class="span7">
				<%= content_tag(:div, class: 'span6') do @rfqform.ppap  end %>
			</div>
		</div>			
		<hr>
		<div class="row">
			<div class="span11">
				<div class="span10"><b>Additional Information:</b></div>			
			</div>
		</div>
		<div class="row">
			<div class="span11">				
				<%= content_tag(:pre, class: 'span11') do @rfqform.info  end %>
			</div>
		</div>	