  <%= form_for(@rfqquote) do |f| %>   
    <%= render 'rfqquotes/tlx_parts_table', :f => f %>

    <div class="row">
      <div class="span11">
        <div class="span3"><b>Quotation Notes:</b></div>
      </div>
    </div>
    <div class="row">
      <div class="span11">
        <%= content_tag(:pre, class: 'span10') do @rfqquote.quote_note  end %>
      </div>
    </div>   
    <br>
    <div class="row">
      <div class="span11">
        <div class="span3"><b>Quotation Number:</b></div>
        <%= content_tag(:div, class: 'span7') do @rfqquote.quote_number  end %>
      </div>
    </div>  
    <div class="row">
      <div class="span11">
        <div class="span3"><b>Quotation Date:</b></div>
        <%= content_tag(:div, class: 'span7') do @rfqquote.quote_date.to_s  end %>
      </div>
    </div>   
    <div class="row">
      <div class="span11">
        <div class="span3"><b>Quotation Submitted by:</b></div>
        <%= content_tag(:div, class: 'span7') do @rfqquote.submitted_by  end %>
      </div>
    </div>   
    <div class="row">
      <div class="span11">
        <div class="span3"><b>Valid Till Date:</b></div>
        <%= content_tag(:div, class: 'span7') do @rfqquote.valid_till.to_s  end %>
      </div>
    </div> 
    <div class="row">
      <div class="span11">
        <div class="span3"><b>Quote with Exceptions:</b></div>
        <div class="span3"><% if @rfqquote.exceptions? %>Yes<% else %>No<% end %></div>
      </div>
    </div> 

    <br><br>  

    <% if (!@rfqquote.submitted_to_tlx && !@rfqquote.feedback_sent) %>
      <%= link_to "Edit", edit_rfqquote_path(@rfqquote.id), class: "btn btn-large btn-primary" %> 

      <% if (!@rfqquote.quote_number.blank?)  %>
        <%= link_to "Submit RFQ to TLX", submit_to_tlx_rfqquote_path(@rfqquote.id), method: :post,  data: { confirm: "This form can no longer be changed once you submit. Continue?" }, class: "btn btn-large btn-warning" %>
      <% end %>
    <% end %>
    <%= link_to "Save to PDF", rfqquote_path(@rfqquote.id, :format => :pdf), class: "btn btn-large btn-primary" %>             
  <% end %>