	<%= form_for(@rfqquote) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

	  <%= content_tag(:div) do content_tag(:b,"RFQ: ") + @rfqquote.whole_printable_id  end %>
	  <%= content_tag(:div) do content_tag(:b,"Date: ") + @rfqquote.rfqform.date.to_s  end %>
	  <%= content_tag(:div) do content_tag(:b,"RFQ Due Date: ") + @rfqquote.rfqform.due_date.to_s  end %>
	  
		<div class="container"> 
			<hr> 
			<%= render 'rfqquotes/rfqquote_shared_fields' %>

			<hr>

			<div class="row">
				<div class="span6">
					<div class="span3"><b>Quotation Number:</b></div>
					<%= content_tag(:div, class: 'span2') do @rfqquote.quote_number  end %>
				</div>
				<div class="span6">
					<div class="span3"><b>Quotation Date:</b></div>
					<%= content_tag(:div, class: 'span2') do @rfqquote.quote_date.to_s  end %>	
				</div>
			</div>	
			<div class="row">
				<div class="span6">
					<div class="span3 no-overrun"><b>Quotation Submitted by:</b></div>
					<%= content_tag(:div, class: 'span2 no-overrun') do @rfqquote.submitted_by  end %>
				</div>
				<div class="span6">
					<div class="span3"><b>Valid Till:</b></div>
					<%= content_tag(:div, class: 'span2') do @rfqquote.valid_till.to_s  end %>	
				</div>
			</div>		
			<div class="row">
				<div class="span6">
					<div class="span3"><b>Any Exceptions:</b></div>
					<div class="span2"><% if @rfqquote.exceptions? %>Yes<% else %>No<% end %></div>
				</div>				
			</div>		

			<hr>


			<div class="row">
				<div class="span11">
					<div class="span2"><b>Unit of Measure:</b></div>
					<%= content_tag(:div, class: 'span7') do @rfqpart.units  end %>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="span11">
					<% if @rfqpart.drawing? %> 						 
						<a class="btn btn-small btn-primary" href="<%= @rfqpart.drawing %>" > View Drawing </a>                                		
					<% end %>				
				</div>
			</div>		
		</div>

		<%= render 'rfqquotes/tlx_parts_table', :f => f %>

	    <div class="row">
	      <div class="span11">
	        <div class="span3"><b>Quotation Notes:</b></div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="span11">
	        <%= content_tag(:pre, class: 'span10') do @rfqquote.quote_note  end %>     
	      </div>
	    </div>  

		<% if (@action_type == 'show') %>
		    <% if !@rfqquote.feedback_sent %>
		      <%= link_to "Edit", edit_rfqquote_path(@rfqquote.id), class: "btn btn-large btn-primary" %>   
		      <%= link_to "Send Feedback to Vendor", send_feedback_rfqquote_path(@rfqquote.id), method: :post,  data: { confirm: "This form can no longer be changed once you send feedback. Continue?" }, class: "btn btn-large btn-warning" %>
		    <% end %>
		    <%= link_to "Save to PDF", rfqquote_path(@rfqquote.id, :format => :pdf), class: "btn btn-large btn-primary" %> 
	    <% else %>
		    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		    <%= link_to "Cancel", @rfqquote,  method: :get, class: "btn btn-large" %>  
	    <% end %>   	    		 
    <% end %>         