<tr>

	<td><%= link_to rfqquote.whole_printable_id, rfqquote_path(rfqquote.id) %></td>
	<td><%= rfqquote.vendor.name %></td>
	<td><%= rfqquote.rfqform.program_name %></td>
	<td><%= rfqquote.rfqpart.part.name %></td>
	<td><%= rfqquote.rfqform.date.to_s %></td>
	<td><%= rfqquote.quote_number.to_s %></td>
	<td><% if (rfqquote.feedback_sent?) %> Closed <% elsif (rfqquote.submitted_to_tlx?) %> Submitted <% else %> Active <% end %></td>
	
</tr>