
    <table id="parts_table" class="table table-striped table-bordered">
      <tr>
        <th>Quantity</th>
        <th class="notes">Notes</th>
        <th>Unit Price</th>
        <th>Tooling</th>
        <th>NRE</th>
        <th class="feedback">Feedback</th>
      </tr>
      


     <%= f.fields_for :rfqquote_eaus do |form_eau| %>
        <% eau = form_eau.object %>
        <tr class="fields">
          
          <td><%= content_tag(:div) do eau.eau_qty.to_s  end %></td>
          <td><%= content_tag(:div, class: "notes") do eau.parts_note  end %></td>
          
          <% if eau.no_quote? %>
            <td><%= content_tag(:div, class: "price") do "No Quote" end %></td>
          <% else %>
            <td><%= content_tag(:div, class: "price") do number_to_currency(eau.unit_price)  end %></td>
          <% end %>

          <% if eau.no_quote? %>
            <td><%= content_tag(:div) do "" end %></td>
          <% else %>
            <td><%= content_tag(:div) do number_to_currency(eau.tooling)  end %></td>
          <% end %>          

          <% if eau.no_quote? %>
            <td><%= content_tag(:div) do "" end %></td>
          <% else %>
            <td><%= content_tag(:div) do number_to_currency(eau.nre)  end %></td>
          <% end %>                      

          <% if (current_user.isTLX && @action_type == 'edit') %>
            <td><%= form_eau.text_field :feedback, placeholder: "Feedback" %></td>
          <% else %>
            <td><%= content_tag(:div, class: "feedback") do eau.feedback  end %></td>
          <%end %>
        </tr>
      <% end %>
    </table>