    <%= nested_form_for(@rfqform) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      
      <%= content_tag(:div) do content_tag(:b,"RFQ: ") + f.object.id.to_s.rjust(4, '0') if !f.object.id.blank? end %> 
      <%= content_tag(:div) do content_tag(:b,"Date: ") + f.object.date.to_s if !f.object.date.blank? end %>   
      
      <%= f.label :program, "Program" %>
      <%= f.collection_select(:program, @programs, :id, :name,
                          {:include_blank => 'Select a Program'}, {  :selected => f.object.program, class: 'span4'} ) %>

      <br> 
      <h3>Program Detail</h3>    
      <%= f.label :release_type, "PO/Release type" %>
      <%= f.text_field :release_type, class: 'span6' %>

      <%= f.label :launch_date, "Expected Launch Date" %>
      <%= f.text_field :launch_date, class: 'span6' %>

	  <%= f.label :eaus, "EAU" %>
	  <%= f.fields_for :eaus %>
	  <p><%= f.link_to_add "Add an EAU", :eaus %></p>

	  <h3>Quality Requirements</h3>    
      <%= f.label :ppap, "PPAP or other sample quality verification" %>
      <%= f.text_field :ppap, class: 'span6' %>

	  <h3>Contact Info</h3>    
      <%= f.label :req_by, "Requisitioned by" %>
      <div class="form-inline input-append" >
        <% req_ec = 'employee_changed(req_email_' + f.object.id.to_s + ', req_select_' + f.object.id.to_s + ')' %>
        <%= f.select :req_by, 
          @employees.map {|c| [c.name, c.id, 
            {:'email' => c.email}]},
            { :include_blank => 'Select an Employee' }, 
            { :selected => f.object.req_by, 
              :class => 'span4',
              :id => 'req_select_' + f.object.id.to_s,
              :onchange => req_ec
            } 
        %>                          
        <div id="req_email_<%=f.object.id.to_s%>"  class="add-on">
          <%= content_tag :div, Employee.find(f.object.req_by).email if !f.object.req_by.blank? %>
        </div>
      </div>                          

      <%= f.label :engineer, "Engineer" %>
      <div class="form-inline input-append" >
        <% eng_ec = 'employee_changed(eng_email_' + f.object.id.to_s + ', eng_select_' + f.object.id.to_s + ')' %>
        <%= f.select :engineer, 
          @employees.map {|c| [c.name, c.id, 
            {:'email' => c.email}]},
            { :include_blank => 'Select an Employee' }, 
            { :selected => f.object.engineer, 
              :class => 'span4',
              :id => 'eng_select_' + f.object.id.to_s,
              :onchange => eng_ec
            } 
        %>                          
        <div id="eng_email_<%=f.object.id.to_s%>"  class="add-on">
          <%= content_tag :div, Employee.find(f.object.engineer).email if !f.object.engineer.blank? %>
        </div>
      </div>  


      <table id="parts_table" class="table table-striped table-bordered">
        <tr>
          <th>Remove</th>
          <th class="part_number">Part Number</th>
          <th class="description">Description</th>
          <th class="revision">Revision</th>
          <th class="qty">Quantity per</th>
          <th class="unit">Unit of Measure</th>
          <th class="vendors">Vendors</th>
          <th class="drawing">Drawing</th>
        </tr>
        <%= f.fields_for :rfqparts, :wrapper => false %>
      </table>
      <p><%= f.link_to_add "Add a Part", :rfqparts, 
          :data => { :target => "#parts_table"} %></p>



	  <%= f.label :info, "Additional Information" %>
      <%= f.text_area :info, { cols: 60, rows: 4, class: "findings" } %>
      <br>
      <br>
      <br>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <%= link_to "Cancel", rfqforms_path,  method: :get, class: "btn btn-large" %>
            
    <% end %>      