      <table id="parts_table" class="table table-striped table-bordered">
        <tr>
          
          <th class="part_number">Part Number</th>
          <th class="description">Description</th>
          <th class="revision">Revision</th>
          <th class="qty">Quantity per</th>
          <th class="unit">Unit of Measure</th>
          <th class="vendors">Vendors</th>
          <th class="drawing">Drawing</th>
        </tr>

        <% @rfqform.rfqparts.map do |part| %>
          <tr>
            <td><%= content_tag :div, part.part.name  %></td>
            <td><%= content_tag :div, part.part.description  %></td>
            <td><%= content_tag :div, part.revision  %></td>
            <td><%= content_tag :div, part.qty  %></td>
            <td><%= content_tag :div, part.units  %></td>
            <td><%= content_tag :pre, part.vendor_name_list  %></td>
            <td>
              <% if part.drawing? %>
                <a href="<%= part.drawing %>" target="_blank"> View File </a>        
              <% end %>              
            </td>
          </tr>
        <% end %>
      </table>