<div id="rfqform_<%= rfqform.id %>">
	<li >
	  <% if current_user.isTLX %>
	  	<%= link_to rfqform.id.to_s.rjust(4, '0'), rfqform_path(rfqform), id: "keep_link" %>
	  <% else %>
	  	<%= link_to rfqform.id.to_s.rjust(4, '0'), '#' %>	  		
	  <% end %>
	  &nbsp&nbsp&nbsp&nbsp

	  <%=  rfqform.date.to_s  %>
	  &nbsp&nbsp&nbsp&nbsp

	  <%=  Part.find(rfqform.program).name.to_s  %>
	  &nbsp&nbsp&nbsp&nbsp

	  <% if current_user.isTLX %>
		  <small>
		    <%= link_to "View", rfqform, id: "keep_link" %>	                
	        &nbsp&nbsp&nbsp&nbsp
	        <%= link_to "Print", rfqform_path(rfqform.id, :format => :pdf), id: "keep_link" %>	                
	        &nbsp&nbsp&nbsp&nbsp
	        
	        <% if !rfqform.built %>
			<%= link_to "Delete", rfqform, method: :delete,
		                data: { confirm: "Are you sure?" }, remote: true %>
		    &nbsp&nbsp&nbsp&nbsp        
	        <%= link_to "Build", build_rfqform_path(rfqform.id), method: :post, data: { confirm: "This form can no longer be changed once you build. Continue?" } %>
	        <% end %>
	        
		  </small>
	  <% end %>
	  
	</li>
</div>
<ul id="child_rfqform_<%= rfqform.id %>">
	<% if @quotes.key?(rfqform.id) %>
		<table class="table table-striped table-bordered">
	        <tr>
	          <th>RFQ ID</th>
	          <th class="vendor">Vendor</th>
	          <th class="program">Program</th>
	          <th class="part">Part</th>
	          <th class="date_sent">Date Sent</th>
	          <th class="quote_num">Quote #</th>
	          <th class="status">Status</th>
	        </tr>			
			<% @quotes[rfqform.id].each do |q| %>
				<%= render q, locals: { q => q } %>
			<% end %>

		</table>
	<% end %>
	
	
</ul>