<tr class="fields">	
	<td><%= f.link_to_remove "Remove" %></td>
	<td>
		<% pc = 'part_changed(desc_' + f.object.id.to_s + ', part_select_' + f.object.id.to_s + ')' %>
		<%= f.select :part_number, 
			Part.all.order("name asc").map {|c| [c.name, c.id, {:'desc' => c.description}]},
			{ :include_blank => 'Select a Part' }, 
            { :selected => f.object.part_number, 
              :class => 'part_number',
              :id => 'part_select_' + f.object.id.to_s,
              :onchange => pc
            } 

		%>

    </td>

	<td><div id="desc_<%= f.object.id %>"><%= content_tag :div, f.object.part.description if !f.object.id.blank? %></div></td>
	<td><%= f.text_field :revision, 
			placeholder: "Revision", class: 'revision'  %></td>
	<td><%= f.text_field :qty, 
			placeholder: "Quantity", class: 'qty'  %></td>
	<td><%= f.text_field :units, 
			placeholder: "Unit of Measure", class: 'units'  %></td>
    <td><%= f.collection_select(:rfqpartvendors, Vendor.where(:active_rfq => true).order("name asc"), :id, :name,
            { }, { :multiple => true,  :selected => f.object.rfqpartvendors, :class => 'vendors'} ) %></td>		
    <td>
    	<% if f.object.drawing? %>
    		<a href="<%= f.object.drawing %>" > View File </a>
    		<div><%= f.object.drawing.file.filename if f.object.drawing? %></div> 
    	<% end %>   	
    	<%= f.file_field :drawing, :class => 'drawing', :onchange => "drawing_selected(this)" %>
    	<%= f.hidden_field :drawing_cache %>
    </td>
			

</tr>