<tr class="fields">	
	<td><%= f.link_to_remove "Remove" %></td>
	<td><%= f.collection_select(:part_number, Part.all.order("name asc"), :id, :name,
            { }, { :selected => f.object.part_number, :class => 'part_number'} ) %></td>

	<td><%= content_tag :div, Part.find(f.object.id).description if !f.object.id.blank? %></td>
	<td><%= f.text_field :revision, 
			placeholder: "Revision", class: 'revision'  %></td>
	<td><%= f.text_field :qty, 
			placeholder: "Quantity", class: 'qty'  %></td>
	<td><%= f.text_field :units, 
			placeholder: "Unit of Measure", class: 'units'  %></td>
    <td><%= f.collection_select(:rfqpartvendors, Vendor.where(:active_rfq => true), :id, :name,
            { }, { :multiple => true,  :selected => f.object.rfqpartvendors, :class => 'vendors'} ) %></td>		
    <td><a href="<%= f.object.drawing.url %>" > View File </a>
    	<div><%= f.object.drawing_file_name if !f.object.drawing.url.blank? %></div>    	
    	<%= f.file_field :drawing, :class => 'drawing', :onchange => "drawing_selected(this)" %></td>
			

</tr>