<h1>Advanced Search</h1>

<div class="container"> 

<%= form_for @search do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="row">
		<div class="span2"><%= f.label :built %></div>					
		<div class="span6">
			<%= f.select :built, 
				options_for_select([['Built', true],['Unbuilt',false]]),
				{ :include_blank => 'Any' }, 
	            { :selected => f.object.rfq } 
			%>						
		</div>				
	</div>	
	<div class="row">
		<div class="span2"><%= f.label :date_built, "Build Date" %></div>
		<div class="span4"><%= f.text_field :date_built, id: "build_date", class: "wide" %></div>	
	</div>	
	<div class="row">
		<div class="span2"><%= f.label :date_quoted, "Quote Date" %></div>
		<div class="span4"><%= f.text_field :date_quoted, id: "quote_date", class: "wide" %></div>	
	</div>	
	<div class="row">
		<div class="span2"><%= f.label :vendor %></div>			
		<div class="span6"><%= f.text_field :vendor %></div>				
	</div>	
	<div class="row">
		<div class="span2"><%= f.label :program %></div>			
		<div class="span6"><%= f.collection_select :program, Part.where("name LIKE 'PA%'").order("name asc"), :id, :name, :include_blank => 'Any' %></div>				
	</div>
	<div class="row">
		<div class="span2"><%= f.label :rfq, "RFQ" %></div>			
		<div class="span6">
			<%= f.select :rfq, 
				Rfqform.all.order("id desc").map {|c| [c.printable_id, c.id]},
				{ :include_blank => 'Any' }, 
	            { :selected => f.object.rfq } 
			%>				
		</div>				
	</div>
	<div class="row">
		<div class="span2"><%= f.label :quote_number %></div>			
		<div class="span6"><%= f.text_field :quote_number %></div>				
	</div>

	<br>
	<div class="actions"><%= f.submit "Search", class: "btn btn-large btn-primary" %></div>
<% end %>

</div>
